%h4 Search Colleges
%form{ action: "/search", method: 'post', 'accept-charset' => 'UTF-8'}
  .field
    %label College:
    %input#search{ type: 'text', name: 'college[name]' }
    %input{ name: 'commit', type: 'submit', value: 'Search' }
